
.Contact{
    text-align: center;
}
.Contact #headerTitle{
    font-weight: bold;
    text-transform: uppercase;
}



#phone, #mail{

    font-weight: bold;
    
}
.contact-list{
    margin: 200px 0 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}